<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="995541794066-dvg3838q1og4pbjf9ctelbca6ev35dsu.apps.googleusercontent.com">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Badminton Buddy</title>

    <!-- Bootstrap -->
    <script src="https://use.fontawesome.com/16cfe0d56a.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- lumber-buddy styles -->
    <link href="/css/login.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class= "login center-block">
            <h1 class="text-center login-title">Sign in to continue</h1>
            <div class="account-wall">
                    <img class = "profile-img" src="/images/shuttle-logo.png">
                    <div class = "login-button-section">
                        <div class="g-signin2" data-onsuccess="onSignIn">Test</div>
                  </div>
            </div>
          </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/common.js"></script>
    <script src="/js/auth.js"></script>

  </body>
</html>
