.court {
    max-width: 400px;
    max-height: 200px;
}

.player-list {
    border: 1px solid black;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row {
  padding-top: 40px;
}
